<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <a class="navbar-brand fs-4" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link px-1 me-1" routerLink="/products" routerLinkActive="active">Product</a>
        <a class="nav-link px-1 me-1" routerLink="/products">Sale</a>
        <a class="nav-link bg-warning rounded px-1 me-1" routerLink="/shopping-cart">Shopping Cart</a>
      </div>
    </div>
  </nav>
</header>

<div class="mt-5">
  <router-outlet></router-outlet>
</div>
