<div class="container">
    <div class="card">
        <p class="card-header">
            Update Product
        </p>
        <div class="card-body">
            <form action="" [formGroup]="productForm">
                <div class="mb-3">
                    <label for="productName">Product Name</label>
                    <input formControlName="productName" type="text" name="productName" id="productName" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="price">Price</label>
                    <input formControlName="price" type="number" name="price" id="price" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="productName">Quantity</label>
                    <input formControlName="quantity" type="number" name="quantity" id="quantity" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary" (click)="submit()">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>