<div class="container">
    <div *ngIf="isCheckoutSubmit">
        <div class="alert alert-success" *ngIf="isCheckoutSuccess">Đơn hàng của bạn đang chờ xác nhận, chúng tôi sẽ liên hệ lại sau.</div>
        <div class="alert alert-danger" *ngIf="!isCheckoutSuccess">Đơn hàng của bạn gặp lỗi xác nhận.</div>
    </div>
    <table *ngIf="!isCheckoutSuccess" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Promotion</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; let i = index">
                <td>{{i + 1}}</td>
                <td>{{product.productName}}</td>
                <td><img [src]="product.image" class="img-sm"></td>
                <td>{{product.price}}</td>
                <td>{{product.promotionPrice}}</td>
                <td><input type="number" min="0" step="1" [(ngModel)]="product.quantity"></td>
                <td>{{product.getTotalPrice()}}</td>
                <td><button class="btn btn-danger btn-sm" (click)="deleteProduct(product)">Delete</button></td>
            </tr>
        </tbody>
        <tfoot *ngIf="products.length > 0">
            <tr>
                <td class="" colspan="8">Thành tiền {{getAmount()}}</td>
            </tr>
        </tfoot>
    </table>

    <div class="card mb-6" *ngIf="!isCheckoutSuccess">
        <div class="card-header">
            <strong class="fs-4">Thông tin khách hàng</strong>
        </div>
        <div class="card-body">
            <div class="form-group" [formGroup]="form">
                <div class="mt-2">
                    <label for="name" class="fw-bold">Họ và tên</label>
                    <input type="text" id="name" formControlName="name" class="form-control" [class.is-valid]="name && name.valid && (name.dirty || name.touched)" [class.is-invalid]="name && name.invalid && (name.dirty || name.touched)">
                    <div class="invalid-feedback" *ngIf="name?.errors?.required">Không được bỏ trống họ và tên.</div>
                </div>
                <div class="mt-2">
                    <label for="phone" class="fw-bold">Số điện thoại</label>
                    <input type="tel" id="phone" formControlName="phone" class="form-control" [class.is-valid]="phone && phone.valid && (phone.dirty || phone.touched)" [class.is-invalid]="phone && phone.invalid && (phone.dirty || phone.touched)">
                    <div class="invalid-feedback" *ngIf="phone?.errors?.required">Không được bỏ trống số điện thoại.</div>
                    <div class="invalid-feedback" *ngIf="phone?.errors?.pattern">Số điện thoại phải là 10 số ở dạng như: 0123456789.
                    </div>
                </div>
                <div class="mt-2">
                    <label for="address" class="fw-bold">Địa chỉ</label>
                    <textarea name="address" id="address" rows="3" class="form-control" formControlName="address" [class.is-valid]="address && address.valid && (address.dirty || address.touched)" [class.is-invalid]="address && address.invalid && (address.dirty || address.touched)"></textarea>
                    <div class="invalid-feedback" *ngIf="address?.errors?.required">Không được bỏ trống địa chỉ.</div>
                </div>
            </div>
            <button class="btn btn-primary mt-4" [disabled]="(form.invalid || products.length == 0)" type="submit" (click)="checkoutCart()">Submit</button>
        </div>
    </div>
    <div *ngIf="isCheckoutSuccess" class="card">
        <div class="card-header">
            <strong class="fs-4">Thông tin đơn hàng</strong>
        </div>
        <div class="card-body">
            <p class="fw-bold">Họ và tên: {{name?.value}}</p>
            <p class="fw-bold">Số điện thoại: {{phone?.value}}</p>
            <p class="fw-bold">Địa chỉ: {{address?.value}}</p>
            <table class="table table-bordered table-hover mt-2">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Promotion</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{product.productName}}</td>
                        <td><img [src]="product.image" class="img-sm"></td>
                        <td>{{product.price}}</td>
                        <td>{{product.promotionPrice}}</td>
                        <td><input type="number" min="0" step="1" [(ngModel)]="product.quantity"></td>
                        <td>{{product.getTotalPrice()}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="" colspan="8">Tổng số tiền phải thanh toán {{getAmount()}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>