<div class="container">
    <div class="row justify-content-start">
        <div class="col-md-4 px-4" *ngFor="let product of products">
            <div class="card h-100">
                <img [src]="product.image" class="card-img-top product-img" />
                <div class="card-body">
                    <h5 class="card-title">{{ product.productName }}</h5>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item" *ngIf="product.promotionPrice > 0">
                            {{ product.price * (100 - product.promotionPrice)/100 }}
                        </li>
                        <li class="list-group-item" [ngClass]="product.promotionPrice > 0 ? 'text-decoration-line-through' : ''">
                            {{ product.price }}
                        </li>
                        <li class="list-group-item">
                            <button type="button" class="btn btn-outline-primary btn-sm w-100" (click)="addToCart(product)">
                                Add to cart
                            </button>

                        </li>
                        <div class="list-group-item">
                            <button type="button" class="btn btn-outline-primary btn-sm w-100" [routerLink]="['/edit',product.id]">
                                Edit
                            </button>
                        </div>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>